<!doctype html>
<html data-framework="vue">

<head>
  <meta charset="utf-8">
  <title>Vue.js • TodoMVC</title>
  <link rel="stylesheet" href="vendor/index.css">
  <!-- usually we can just let the browser load additional styles if the user's OS
    has preference for dark theme
  <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="vendor/dark.css">
  -->
  <!-- but to be able to control the dark theme load programmatically and from E2E tests
    we need to use JavaScript and check preference using "window.matchMedia" call -->
  <script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      const link = document.createElement("link")
      link.type = "text/css";
      link.rel = "stylesheet";
      link.href = 'vendor/dark.css';
      document.head.appendChild(link)
    }
  </script>
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <section class="todoapp">
    <header class="header">
      <h1 data-test="app-title">todos</h1>
      <input class="new-todo" autofocus autocomplete="off" placeholder="What needs to be done?" :value="newTodo"
        @input="setNewTodo" @keyup.enter="addTodo">
    </header>
    <section class="main" v-show="todos.length" v-cloak>
      <ul class="todo-list">
        <li v-for="todo in todos" class="todo" :key="todo.id" :class="{ completed: todo.completed }">
          <div class="view">
            <input class="toggle" type="checkbox" v-model="todo.completed">
            <label>{{ todo.title }}</label>
            <button class="destroy" @click="removeTodo(todo)"></button>
          </div>
        </li>
      </ul>
    </section>
    <div class="loading" v-show="loading">Loading data ...</div>
  </section>
  <section class="extra-elements">
    <div class ="radio-example">
      <h1 data-test="radio-title">Radio buttons</h1>
      <input type="radio" id="A" name="radio" value="A">
      <label for="A">A</label><br>
      <input type="radio" id="B" name="radio" value="B">
      <label for="B">B</label><br>
      <input type="radio" id="C" name="radio" value="C">
      <label for="C">C</label>
    </div>
    <div class ="select-example">
      <h1 data-test="radio-title">Dropdown</h1>
      <label for="cars">Kies een auto:</label>
      <select id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </div>
    <div class ="within-example">
      <h1 data-test="within-title">Within test</h1>
      <label data-test="test-label">Dit is een test label</label><br>
      <input type="radio" id="radio-deep-eerste" name="radio-deep" value="eerste">
      <label for="radio-deep-eerste">Eerste radio</label><br>
      <input type="radio" id="radio-deep-tweede" name="radio-deep" value="tweede">
      <label for="radio-deep-tweede">Tweede radio</label><br><br>

      <div class ="within-deeper-example">
        <label data-test="dieper-test-label">Dit is een dieper genest test label</label><br>
        <label data-test="dieper-test-label">Dit is nog een dieper genest test label</label><br>
        <input type="radio" id="radio-deep-derde" name="radio-deep" value="derde">
        <label for="radio-deep-derde">Derde dieper radio</label><br>
        <input type="radio" id="radio-deep-vierde" name="radio-deep" value="vierde">
        <label for="radio-deep-vierde">Vierde dieper radio</label><br>
      </div>
    </div>
  </section>
  <footer class="info">
    <p>Written by
      <a href="http://evanyou.me">Evan You</a>
    </p>
    <p>Part of
      <a href="http://todomvc.com">TodoMVC</a>
    </p>
  </footer>

  <script src="vendor/polyfill.min.js"></script>
  <script src="vendor/vue.js"></script>
  <script src="vendor/vuex.js"></script>
  <script src="vendor/axios.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
